<h1> Department list</h1> 
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<button routerLink="/add" class="btn btn-success" (click)="addDepartment()">Add</button>
<div class="container">
  <table class="table">
    <thead>
      <tr>
            <th>Dept Id</th>
            <th> Dept name</th>
            <th>Dept Description </th>
            <th>Dept Location </th>
            <th> Update</th>
            <th> Delete</th>
        </tr>
    
    </thead>
    <tbody>

    <tbody>
        <tr *ngFor = "let department of department">
            <td> {{department.departmentId}}</td> 
            <td> {{department.departmentName}}</td>
            <td> {{department.deptDescription}}</td>
            <td> {{department.location}}</td>
        
            <td><button (click)="updateDepartment(department.departmentId)" class="btn btn-success">Update</button></td>
            <td><button (click)="deleteDepartment(department.departmentId, department)" class="btn btn-warning">Delete</button></td>

        </tr>
    </tbody>
  </table>


</div>