<h1> Faculty list</h1> 
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<button routerLink="/add" class="btn btn-success" (click)="addFaculty()">Add</button>
<div class="container">
  <table class="table">
    <thead>
      <tr>
            <th>Faculty Id</th>
            <th> Faculty name</th>
            <th>Faculty Gender </th>
            <th>Faculty Address</th>
            <th>Faculty Phone</th>
            <th>Faculty Age</th>
            <th>Course ID</th>
            <th>Department ID</th>
            <th> Update</th>
            <th> Delete</th>
        </tr>
    
    </thead>
    <tbody>

    <tbody>
        <tr *ngFor = "let faculty of faculty">
            <td> {{faculty.id}}</td> 
            <td> {{faculty.name}}</td>
            <td> {{faculty.gender}}</td>
            <td> {{faculty.address}}</td>
            <td> {{faculty.phone}}</td>
            <td> {{faculty.age}}</td>
            <td> {{faculty.course_id}}</td>
            <td> {{faculty.department_id}}</td>
            <td><button (click)="updateFaculty(faculty.id)" class="btn btn-success">Update</button></td>
            <td><button (click)="deleteFaculty(faculty.id, faculty)" class="btn btn-warning">Delete</button></td>
        </tr>
    </tbody>
  </table>


</div>