<!-- constructor(public id:number,public name: string,public type:string, public preRequest:string, public duration: string, public credits: number){ -->
  <h1> Students Add/Update</h1>
  <div class="alert alert-success" *ngIf='message'>{{message}}</div>
  <div class = "container">
  <fieldset class = "form-group">
      <label>Student Name</label>
      <input type = "text"[(ngModel)] = "student.name" class = "form-control" name = "name" required = "required">
  </fieldset>
  <fieldset class = "form-group">
      <label>Student DOB</label> 
  <input type = "text" [(ngModel)] = "student.studentDOB" class = "form-control" name = "DOB" required = "required">
  </fieldset>
  <fieldset class = "form-group">
      <label>Student Email</label> 
  <input type = "text" [(ngModel)] = "student.studentEmail" class = "form-control" name = "Email" required = "required">
  </fieldset>
  <fieldset class = "form-group">
      <label>Student Address</label> 
  <input type = "text" [(ngModel)] = "student.studentAddress" class = "form-control" name = "address" required = "required">
  </fieldset>
  <fieldset class = "form-group">
      <label>Student Phone</label> 
  <input type = "text" [(ngModel)] = "student.studentPhone" class = "form-control" name = "phone" required = "required">
  </fieldset>
  <fieldset class = "form-group">
    <label>Student Registration</label> 
<input type = "text" [(ngModel)] = "student.registration" class = "form-control" name = "registration" required = "required">
</fieldset>
  <button type="submit" class="btn btn-success" (click)="saveStudentDetails()">Save</button>
  </div>