<h1> Students list</h1> 
<button (click) = "addStudent()" routerLink="/add" class="btn btn-success">Add</button>
<div class="container">
  <table class="table">
    <thead>
      <tr>
            <th> Student Id</th>
            <th> Student Name</th>
            <th> Student DOB</th>
            <th> Student Email</th>
            <th> Student Address</th>
            <th> Student Phone Number</th>
<th> Student Registration</th>
            <th> Update</th>
            <th> Delete</th>
        </tr>
    
    </thead>
    <tbody>

    <tbody>
        <tr *ngFor = "let student of student">
<td> {{student.id}}</td>
<td> {{student.name}}</td>
<td> {{student.studentDOB}}</td>
<td> {{student.studentDOB}}</td>
<td> {{student.studentAddress}}</td>
<td> {{student.studentPhone}}</td>
<td>{{student.registration}}</td>


<!-- <td><button class="btn btn-success">Update</button></td>
<td><button class="btn  btn-warning">Delete</button></td> -->
<td><button (click)="updateStudent(student.id)" class="btn btn-success">Update</button></td>
<td><button (click)="deleteStudent(student.id,student)" class="btn btn-warning">Delete</button></td>
        </tr>
    </tbody>
  </table>


</div>